<section class="section hero section--hero{{#each classes}} section--{{this}}{{/each}}">
  <div class="section-wrapper">
    <div class="hero__content">
      {{#if copy.sub-title}}
        <div class="hero__content-sub-title">
          <h3>{{{copy.sub-title}}}</h3>
        </div>
      {{/if}}
      {{#if copy}}
        {{#if copy.title}}
          <div class="hero__content-title">
            <h1>{{{copy.title}}}</h1>
          </div>
        {{/if}}
        {{#if copy.text}}
          <div class="hero__content-text">
            {{{copy.text}}}
          </div>
        {{/if}}
        {{#if copy.cta}}
          <div class="cta--container"><a href="{{copy.cta.url}}" class="cta cta--{{copy.cta.type}}">{{copy.cta.text}}</a></div>
        {{/if}}
      {{/if}}
    </div>
  </div>
  {{#if img}}<div class="hero__img" style="background-image: url('./media/img/{{img}}');"></div>{{/if}}
</section>
