<section class="section bio section--bio section--slant section--slant--bottom-left section--tan section--left-align">
  <div class="section-wrapper">
    <div class="bio__back">
      <a href="#">
        <div class="icon--container"><i class="icon icon--left-arrow"></i></div>
        Back to Our Team
      </a>
    </div>
    <div class="bio__image">
      <img src="./media/img/{{team.member.[0].image}}" alt="" />
    </div>
    <div class="bio__name">
      <h3>{{team.member.[0].name}}</h3>
    </div>
    <div class="bio__details">
      <div class="bio__details__item">
        <p><strong>Hometown:</strong> {{team.member.[0].hometown}}</p>
      </div>
      <div class="bio__details__item">
        <p><strong>Degree(s):</strong> {{team.member.[0].degree}}</p>
      </div>
      <div class="bio__details__item">
        <p><strong>College(s):</strong> {{team.member.[0].colleges}}</p>
      </div>
      <div class="bio__details__item">
        <p><strong>Special Certifications:</strong> {{team.member.[0].special-certifications}}</p>
      </div>
      <div class="bio__details__item">
        <p><strong>Patient Ages Seen:</strong> {{team.member.[0].patient-ages-seen}}</p>
      </div>
      <div class="bio__details__item">
        <p><strong>Client Populations Seen:</strong> {{team.member.[0].client-populations-seen}}</p>
      </div>
      <div class="bio__details__item">
        <p><strong>Therapy Modality Used:</strong> {{team.member.[0].therapy-modality-used}}</p>
      </div>
      <div class="bio__details__item">
        <p><strong>Hobbies:</strong> {{team.member.[0].hobbies}}</p>
      </div>
      <div class="bio__details__item">
        <p><strong>Favorite Quote:</strong> {{team.member.[0].favorite-quote}}</p>
      </div>
    </div>
  </div>
</section>
