<section class="section documents section--documents{{#each classes}} section--{{this}}{{/each}}">
  <div class="section-wrapper">
    {{#if text}}
      <div class="documents__content">
        {{{text}}}
      </div>
    {{/if}}
    <div class="documents__items--container">
      {{#if title}}
        <div class="documents__title">
          {{{title}}}
        </div>
      {{/if}}
      <div class="documents__items">
        {{#each document}}
          <div class="documents__items__item">
            <figure class="documents__items__item-img">
              <img src="./media/img/{{this.image}}" alt="" />
            </figure>
            <div class="documents__items__item-title">
              <h6>{{this.title}}</h6>
            </div>
            <div class="cta--container"><a href="#" class="cta cta--download" download>Download</a></div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>
