<section class="section solutions{{#each classes}} section--{{this}}{{/each}}">
  <div class="section-wrapper">
    {{#if header}}
      <div class="solutions__header">
        {{#if header.title}}
          <div class="solutions__header-title">
            <h2>{{header.title}}</h2>
          </div>
        {{/if}}
        {{#if header.text}}
          <div class="solutions__header-text">
            {{{header.text}}}
          </div>
        {{/if}}
      </div>
    {{/if}}
    <div class="solutions__list">
      {{#each solution}}
        <div class="solutions__list-item">
          <div class="icon--container"><i class="icon icon--{{this.icon}}"></i></div>
          <div class="solutions__list-item__title">
            <h6>{{this.title}}</h6>
          </div>
          <div class="solutions__list-item__text">
            {{{this.text}}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
