<section class="section team section--team{{#each team.classes}} section--{{this}}{{/each}}">
  <div class="section-wrapper">
    <div class="team__filters">
      <label class="team__filters-label">Filters:</label>
      {{#each locations.locations.location}}
        <div class="team__filters__filter">
          <div class="team__filters__filter-location" data-location="">
            <h4>{{this.name}}</h4>
          </div>
          {{#if this.departments}}
            <div class="team__filters__filter__departments">
              {{#each this.departments}}
                <div class="team__filters__filter__departments-department" data-department="">
                  <span>{{this.name}}</span>
                </div>
              {{/each}}
            </div>
          {{/if}}
        </div>
      {{/each}}
    </div>
    <div class="team__members">
      {{#each team.member}}
        <div class="team__members__member" data-department="{{this.department}}" data-location="{{this.location}}">
          <figure class="team__members__member-image">
            <img src="./media/img/{{this.image}}" alt="" />
          </figure>
          <div class="team__members__member-name">
            <h5>{{this.name}}</h5>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
